* {
  font-family: Arial, Helvetica, sans-serif;
}
.container-fluid{
    max-width: 960px;
}
body {
  background-color: rgb(218, 218, 218);
}
.img-fluid {
  width: max-content;
}
.text-justify,
.text-uppercass {
  font-size: large;
}

hr {
  background-color: brown;
}

.fa-facebook-square {
  font-size: 3.5em;
  color: #3b5998;
}

.fas {
  font-size: 2rem;
  color: #3b5978;
}

